*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.cdnfonts.com/css/harry-potter');

@font-face {
    font-family: harryP;
    src: url(HARRYP__.TTF);
}
.header{
    font-family: harryP;
    min-height: 100vh;
    width: 100%;
    /* background-image: url("hogwarts.jpg"); */
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )), url('hogwarts.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center ;
}
nav img{
    width: 120px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{ 
    color: rgb(2, 64, 6);
    /* color: rgb(82, 20, 20); */
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(98, 98, 2);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    background: linear-gradient(rgba(143, 141, 138, 0.61), rgba(143, 141, 138, 0.215 ));
    border: 5px solid rgba(143, 141, 138, 0.61);
    border-radius: 8px;
    width: 90%;
    color:rgb(2, 64, 6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 35px;
}
.text-box a{
    /* border: 4px solid rgb(175, 116, 34);
    border-radius: 4px; */
    background: linear-gradient(rgba(143, 141, 138, 0.855), rgba(143, 141, 138, 0.215 ));
    color: rgb(2, 64, 6);
    font-size: 27px;
    transition: 0.5s;
}
.text-box a:hover{
    background-color: rgb(173, 123, 31);
}

nav .fa{
    display: none;
}
@media(max-width: 740px){
    nav img{
        width: 80px;
    }
    .text-box h1{
        font-size: 25px;
    }
    .text-box p{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: red;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -201px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        display: none;
    }
    nav .fa{
        display: block;
        color: rgb(254, 245, 245);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* <===================subjects==========> */

.sub{
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    font-family: harryP;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: rgb(2, 64, 6);
}
h1{
    font-size: 45px;
    font-weight: 600;
}
p{
    font-size: 25px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.sub-col{
    flex-basis: 22%;
    padding: 10px;
    margin: 10px;
    width: 20%;
    background: rgba(104, 64, 3, 0.371);
    border-radius: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    transition: 0.5s;
}
.row h3{
    padding-top: 10px;
    text-align: center;
    font-size: 27px;
}

.sub-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.4);
}

@media(max-width: 740px){
    .row{
        flex-direction: column;
        /* width: 10%; */
    }
    .sub-col{
        width: auto;
    }
}
/* <===========================view=================================> */
.view{
    font-family: harryP;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    color: rgb(2, 64, 6);
    text-align: center;
    padding-top: 50px;
    margin: auto;
}

.view-col {
    display: flex;    
    flex-wrap: wrap;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    flex-basis: 30%;
    margin-bottom: 30px;
    box-sizing: border-box;
}
.view-col img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.layer{
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}
.layer:hover{
    background: linear-gradient(rgba(97, 3, 104, 0.247), rgba(97, 3, 104, 0.247));
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: aliceblue;
    font-size: 35px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* <-----------------------scroll bar-------------------> */
.to-top{
    /* background: white; */
    position: fixed;
    bottom: 16px;
    right: 1%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;  
    pointer-events: none;
    transition:all 0.5s;
}
@media(max-width: 740px){
    .to-top{
        right: 1%;
        width: 30px;
        border-radius: 100%;

    }
}
.to-top.active{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
html{
    scroll-behavior: smooth;
}
/* <----------------------scroll bar-----------> */


.game{
    font-family: harryP;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    color: rgb(2, 64, 6);
    text-align: center;
    padding-top: 50px;
    margin: auto;
}
.row1 {
    margin-left: 10%;
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center
  }
  .game-img{
    width: 60%;
  }
  .game-img1{
    width: 35%;
    /* padding-left: 20%; */
  }
  img {
    border-radius: 10px;
    max-width: 100%
  }
  /* .game-text {
    font-size: 20px;
    padding-left: 20px;
  } */
  .game-text{
    font-size: 22px;
  }
  .game-text1{
    font-size: 22px;
  }
.game-text{
    width: 30%;
}
.game-text1{
    width: 50%;
}
.game-text2{
    display: none;
}
@media(max-width: 740px) {
    .game-img{
        width: 100%;
    }
    .game-img1{
        width: 100%;
    }
    .game-text1{
        display: none;
    }
    .game-text2{
        display: block;
        width: 100%;
        font-size: 22px;
    }
    .game-text{
        width: 100%;
    }
}

.review{
    font-family: harryP;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    color: rgb(2, 64, 6);
    text-align: center;
    padding-top: 50px;
    margin: auto;
}

.review-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left ;
    background: linear-gradient(rgba(104, 64, 3, 0.36), rgba(104, 63, 3, 0.36 ));
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.review-col img{
    height: 80px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.review-col p{
    padding: 0;
}
.review-col h3{
    color: black;
    text-align: left;
    margin-top: 15px;
}

.review-col .fa{
    color: brown;
}

@media(max-width : 740px){
    .review-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

/* <<<<====================footer=================>>>>>> */
.footer{
    font-family: harryP;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    color: rgb(2, 64, 6);
    text-align: center;
    padding-top: 50px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: brown;
    margin: 0 13px;
    cursor: pointer;
    padding: 20px 0;
    font-size: 20px;
    transition: 0.5s;
}

.footer img{
    width: 130px;
}

.icons .fa:hover{
    color: rgb(255, 0, 0);
}


/* <===============================houses==================================> */
.house-header {
    font-family: harryP;
    /* min-height: 100vh;
    width: 100%; */
    /* background-image: url("hogwarts.jpg"); */
    /* background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )), url('hogwarts.jpg'); */
    background-position: center;
    background-size: cover;
    position: relative;
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )),url(houses.jpg);
    background-position: center;
    background-size: cover;
    text-align:center;
}
@media(max-width:740px){
    .house-header{
        height: 200px;  
    }
}
.house{
    font-family: harryP;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    /* width: 80%; */
    /* padding-left: 10%; */
    text-align: center;
    color: rgb(2, 64, 6);
}
.house-col{
    width: 80%;
    padding-left: 10%;
}
.house-content{
    display: flex;
    padding: 10px;
}
.house-content img{
    width: 50%;
}
.house-content p{
    padding-top: 60px;
}
.house-content .house-img{
    display: none;
}
@media(max-width: 740px){
    .house-content{
        display: block  ;
    }
    .house-content img{
        width: 100%;
    }
    .house-content .house-img{
        width: 100%;
        display: block;
    } 
    .house-content .ho-im{
        display: none;
    }
    .house{
       font-family: 'Harry Potter', sans-serif;
    }
}
/* <===========================houses==============================> */


/* <===========================professors===========================> */
.pro-header {
    font-family: harryP;
    /* min-height: 100vh;
    width: 100%; */
    /* background-image: url("hogwarts.jpg"); */
    /* background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )), url('hogwarts.jpg'); */
    background-position: center;
    background-size: cover;
    position: relative;
    height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )),url(hogclass.png);
    background-position: center;
    background-size: cover;
    text-align:center;
}
.pro-header h3{
    font-size: 50px;
    color: rgb(2, 64, 6);
    background-color:rgba(185, 184, 183, 0.892);
    display: inline;
    border-radius: 5px;
    padding: 4px;
    margin-right: 20px;
}
@media(max-width:740px){
    .pro-header{
        height: 200px;  
    }
}
.professors{
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    font-family: harryp;
    font-size: 25px;
    color: rgb(2, 64, 6);
    text-align: center;
}
.professors h1{
    padding: 10px;
}
.professor-col{
    width: 80%;
    padding-left: 17%;
}
td{
    padding-left: 50px;
}
table, th, td{
    border: 2px solid brown;
}
th{
    font-size: 30px;
}
td img{
    width: 100px;
}
table{
    align-items: center  ;
}
@media(max-width:740px){
    .professor-col{
        width: 100%;
        padding-left: 0%;
    }
    td{
        padding: 10px;
    }
}
/* <============================professors=============================> */


/* <=======================history=====================================> */

.his-header {
    font-family: harryP;
    /* min-height: 100vh;
    width: 100%; */
    /* background-image: url("hogwarts.jpg"); */
    /* background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )), url('hogwarts.jpg'); */
    background-position: center;
    background-size: cover;
    position: relative;
    height: 65vh;
    width: 100%;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )),url(hoghis.jpg);
    background-position: center;
    background-size: cover;
    text-align:center;
}
.his-header h3{
    font-size: 50px;
    color: rgb(2, 64, 6);
    background-color:rgba(185, 184, 183, 0.892);
    display: inline;
    border-radius: 5px;
    padding: 4px;
    margin-right: 20px;
}
@media(max-width:740px){
    .his-header{
        height: 200px;  
    }
}



/* <=======================history=====================================> */




/* <============================contact===========================> */


.con-header {
    font-family: harryP;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 65vh;
    width: 100%;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )),url(hogletter.jpg);
    background-position: center;
    background-size: cover;
    text-align:center;   
}


.contact-us{
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    text-align: center;
    font-family: harryp;
    padding-top: 50px;
    color: rgb(2, 64, 6);
}
.contact-row{
    display: flex;
    width: 80%;
    padding-left: 10%;
    justify-content: space-between;
    padding-top: 50px;
    /* flex-basis: 46%; */
    flex-wrap: wrap;
}
.contact-content{
    padding: 10px;
    font-size: 25px;
    display: flex;
}
.contact-content img{
    padding: 5px;
    width: 30px;
}
.contact-content .fa{
    font-size: 25px;
    padding: 5px;
}

.contact-form input{
    font-size: 25px;
    font-family: harryp;
    border-radius: 7px;
    border: 3px solid brown;
    background: transparent;
    padding: 5px;
}

.contact-form{
    font-size: 25px;
    padding: 5px;
    margin: 5px;
}

.contact-form textarea{
    font-size: 25px;
    font-family: harryp;
    border-radius: 7px;
    border: 3px solid brown;
    background: transparent;
    padding: 5px;
}
.contact-col2{
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    border: 3px solid brown;
    border-radius: 15px;
    width: 300px;
}

.contact-col3{
    width: 30%;
}
.contact-col3 img{
    width: 100%;
}
@media(max-width:740px){
    .contact-col3{
        width: 80%;
    }
}
.contact-form button{
    width: 220px;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
    font-family: harryp;
    background-color: transparent;
    border: 3px solid brown;
    transition: 0.5s;
    cursor: pointer;
}
.contact-form button:hover{
    background-color: brown;
    border-color: red;
}
/* <============================contact===========================> */






/* <=========================about us================================> */

.about-header {
    font-family: harryP;
    /* min-height: 100vh;
    width: 100%; */
    /* background-image: url("hogwarts.jpg"); */
    /* background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )), url('hogwarts.jpg'); */
    background-position: center;
    background-size: cover;
    position: relative;
    height: 65vh;
    width: 100%;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 )),url(hogabt.jpg);
    background-position: center;
    background-size: cover;
    text-align:center;
}
.about-header h3{
    font-size: 50px;
    color: rgb(2, 64, 6);
    background-color:rgba(185, 184, 183, 0.892);
    display: inline;
    border-radius: 5px;
    padding: 4px;
    margin-right: 20px;
}
@media(max-width:740px){
    .about-header{
        height: 200px;  
    }
}

.aboutus{
    font-family: harryP;
    background: linear-gradient(rgba(104, 64, 3, 0.215), rgba(104, 63, 3, 0.215 ));
    color: rgb(2, 64, 6);
    padding-top: 50px;
}

.abt-content{
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.abt-col{
    display: flex;    
    flex-wrap: wrap;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    flex-basis: 30%;
    margin-bottom: 30px;
    /* box-sizing: border-box; */
}

.abt-col .btn{
    font-family:  harryP;
    font-size: 27px;
    width: 125px;
    padding: 5px;
    transition: 0.5s;
    color: rgb(2, 64, 6);
    background-color: gray;
    border: 3px solid rgb(2, 64, 6);
    border-radius: 5px;
    cursor: pointer;
}
.abt-col .btn:hover{
    background-color: transparent;
}
.abt-col a{
    margin-left: 30%;
}
@media(max-width:740px){
    .abt-content{
        display: block;
    }
}





/* <=========================about us================================> */





